@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
.navbar-height {
    height: 100px;
}
